*{
    margin:0;
    padding: 0;
    ;
}

.header{
    height: 100px;    
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 150px;
    margin-right: 150px;
}

.logo{
    display: flex;
    align-items: center;
}
.L{
    background-color: #094B72;
    border-radius: 50%;
    padding: 6px 10px 6px 10px;
    color: beige;
}

.namelogo{
    margin-left: 6px;
    
}
.menu{
}
.menu ul{
    display: flex;
    list-style-type: none;

}
.menu ul li{
    font-weight: 400;
    font-size: 12px;
    margin-left: 20px;
    margin-right: 20px;
}

.footer{
    
}
.foot1{
    height: 430.7px;
    display: flex;
    color: white;
    background-color: #094B72;
    align-items: center;
    justify-content: space-between;
    
}
.foot1_logo{
    display: flex;
} 
.foot1_menu{
    display: flex;
    margin-right: 165px;
}
.foot_menu1 ul{
    list-style-type: none;
}
.foot_menu2 ul{
    list-style-type: none;
}
.foot_menu3 ul{
    list-style-type: none;
}
.foot2{
    height: 69.37px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #004D7B;
}
.foot2 ul{
    display: flex;
    list-style-type:none;   
}
.foot2 ul li{
    height: 12.8px;
    width: 12.8px;
    margin-left: 10px;
    margin-right: 20px;
}
.foot2_last1{
    color: white;
    margin-left: 120px;
}
.foot2_contact{
    color: white;
    margin-right: 120px;
}